/*COLORES 
#f0c4b5
#fbe3db
#efab90 
#e3846c
*/

body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbe3db;
} 

/* *********************HEADER ******************** */
header{
   
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    /* Justifica a la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    /* Justifica al centro con respecto a la justificación inical del header*/
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}

nav .nav-right-section a{
    margin-right: 15px;
    color: black;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 15px;
    
}

nav .nav-right-section .imgpp{
    background-image: url(https://lh3.googleusercontent.com/ogw/AAEL6sgX0L9JcBQiDw9gBvQtJ2dQRTf3Vs05LEDsSzWw-g=s32-c-mo);
    background-size: contain;
    border-radius: 50%;
    width: 22px;
    height: 22px;
   
}

/* ********************* MAIN ******************** */

main{
    margin-top: 55px;
    text-align: center;
}

/* ********************* LOGO ******************** */
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 310px;
    height: 110px;
}

/* ********************* INPUT ******************** */
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}


main .main-input-container{
    width: 500px;
    border-radius: 75px;
    /*border: 3px solid #ca8a8a;*/
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);

}

main .main-input input{
    border: none;
    width: 450px;
    height: 40px;
    outline: none;
    background-color: #ffff;
    border-radius: 75px;

}

main .main-input-container:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

/* *****iconos dentro de la barra de busqueda *****************/
main .main-input .search-icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    background-repeat: no-repeat;
    height: 20px;
    opacity: 0.5;
    margin-left: 10px;
    
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon{
    background-image: url("https://seekicon.com/free-icon-download/google-lens_1.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 16px;
    margin-left: 14px;
}

/************************BOTONES *****************/
main .main-button{
    width: 500px;
    margin: 0 auto;
}
main .main-button div{
    display: inline-block;
}

main .main-button button{
    /*color del texto antes de hover*/
    color: #3c4043;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    background-color: #f0c4b5;
    opacity: 0.7;
    border-radius: 5px;
}

main .main-button button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    /*color del texto despues de hover*/
    color: rgb(255, 224, 224);
    /*Cambia el borde al hacer hover y tambien la letra*/
    background-color: #e3846c;
    opacity: 1;
}

/* ********************* FOOTER ******************** */

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    background-color: #f0c4b5;
    opacity: 0.65;
    border-top: 1px solid #e3846c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    bottom: 0;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

footer .footer-left{
    justify-content: left;

}

footer .footer-right{
    justify-content: right;
}

footer ul li a{
    color: #2d2f31;
    margin: 10px; 
}